.confirm-inquiry-upload-file {
  margin-bottom: 1.5rem;
}

.checkout-mandatory-field, .checkout-optional-field {
  color: #c90909;
}

.custom-field-block {
  margin-bottom: 15px;
}

.custom-field-block .card-title {
  margin-bottom: 10px;
}

.custom-field-block.confirm-inquiry-logo-color {
  margin-bottom: 20px;
}

.form-logo-placement fieldset {
  font-weight: 600;
}

.custom-field-block ul {
  padding-left: 0;
  list-style: none;
}

.confirm-inquiry-logo-color .logo-color-note {
  font-weight: 100;
}

.address-main-header {
  margin-bottom: 30px;
}

.form-logo-placement li{
  float: left;
  height: 180px;
  width: 135px;
  margin: 5px 50px 15px 0;
  padding: 10px;
  border: medium solid #3a3d3ee0;
  border-radius: 5px;
}

.form-logo-placement li .logo-place-img {
  margin: 5px 22.5%;
}

.form-logo-placement li .logo-upload-img {
  margin: 0 28%;
  height: 35px;
}

.form-logo-placement li .upload-file-label {
  margin: 0 22% 5px;
  padding: 0;
}

.form-logo-placement li input {
  height: 60px;
  width: 90px;
  margin: 0 10px;
  position: absolute;
  z-index: 1;
  opacity: 0;
}

.form-logo-placement li label{
  text-align: center;
  font-size: smaller;
  padding: 0 10px;
}

.form-logo-placement li:nth-child(5n) {
  clear: left;
}
