.confirm-inquiry-upload-file {
  margin-bottom: 1.5rem;
}

.checkout-mandatory-field, .checkout-optional-field {
  color: #c90909;
}

.custom-field-block {
  margin-bottom: 15px;
}

.custom-field-block .card-title {
  margin-bottom: 10px;
}

.custom-field-block.confirm-inquiry-logo-color {
  margin-bottom: 20px;
}

.form-logo-placement fieldset {
  font-weight: 600;
}

.custom-field-block ul {
  padding-left: 0;
  list-style: none;
}

.confirm-inquiry-logo-color .logo-color-note {
  font-weight: 100;
}

.address-main-header {
  margin-bottom: 30px;
}
