.is-act-inquiryregisterpage {
  .checkout {
    padding-top: 70px;

    .checkout-container {
      @extend .row;
    }

    .checkout-main {
      @extend .col-lg-8;
      margin-bottom: $spacer-lg;
    }

    .checkout-aside {
      @extend .col-md-4;
      @extend .d-none;
      @extend .d-lg-block;
    }
  }
}