{% sw_extends '@Storefront/storefront/page/checkout/address/index.html.twig' %}

{% block page_checkout_aside_actions %}
    {% if isInquiry %}
        <div class="checkout-aside-action">
            {% block page_checkout_cart_add_promotion %}
                <form action="{{ path('frontend.checkout.promotion.add') }}"
                      class="cart-add-promotion"
                      method="post">
                    {% block page_checkout_cart_add_promotion_forward %}
                        <input type="hidden"
                               name="redirectTo"
                               value="frontend.inquiry.register.page">
                    {% endblock %}

                    {% block page_checkout_cart_add_promotion_input_group %}
                        <div class="input-group checkout-aside-add-code">
                            {% block page_checkout_cart_add_promotion_label %}
                                <label class="visually-hidden" for="addPromotionInput">
                                    {{ "checkout.addPromotionLabel"|trans|sw_sanitize }}
                                </label>
                            {% endblock %}

                            {% block page_checkout_cart_add_promotion_input %}
                                <input type="text"
                                       name="code"
                                       class="form-control"
                                       id="addPromotionInput"
                                       placeholder="{{ "checkout.addPromotionPlaceholder"|trans|striptags }}"
                                       aria-label="{{ "checkout.addPromotionLabel"|trans|striptags }}"
                                       aria-describedby="addPromotion"
                                       required="required">
                            {% endblock %}

                            {% block page_checkout_cart_add_promotion_submit %}
                                <button class="btn btn-secondary"
                                        type="submit"
                                        id="addPromotion">
                                    {% sw_icon 'checkmark' %}
                                </button>
                            {% endblock %}
                        </div>
                    {% endblock %}
                </form>
            {% endblock %}
        </div>
    {% endif %}
{% endblock %}

